pandas==2.2.3
scikit_learn==1.5.2
torch
git+https://github.com/roboflow/sports.git#egg=sports
ultralytics==8.0.196
roboflow==1.1.47
gdown 
supervision>=0.23.0
pandas
inference
yolov5
#Uncomment these if you have a GPU
#inference-gpu
#onnxruntime-gpu==1.18.0 --extra-index-url https://aiinfra.pkgs.visualstudio.com/PublicPackages/_packaging/onnxruntime-cuda-12/pypi/simple/